[Unit]
Description=PassMNGR HTTP Server
After=network.target

[Service]
Type=exec
ExecStart=/bin/go /root/go/passmngr-server/main
Restart=always
