[Unit]
Description=PassMNGR HTTP Server

[Service]
Type=simple
ExecStart=/root/go/passmngr-server/main
Restart=always

[Install]
WantedBy=multi-user.target