[Unit]
Description=PassMNGR HTTP Server
After=network.target

[Service]
PIDFile=/tmp/passmnger-server.pid-4040
User=root
Group=root
WorkingDirectory=/root/go/passmngr-server
ExecStart=/bin/bash -c "/root/go/passmngr-server/passmngr-server"
Restart=always

[Install]
WantedBy=multi-user.target